{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script>
  $(document).ready(function() {  
    var stickyNavTop = $('nav').offset().top;  
      
    var stickyNav = function(){  
      var scrollTop = $(window).scrollTop(); 
      var navHasClassSticky = $('nav').hasClass('sticky');

      if (scrollTop > stickyNavTop && navHasClassSticky) {   
        return true;
      } else if (scrollTop > stickyNavTop) {
        $('nav').hide();
        $('nav').addClass('sticky');
        $('nav').fadeIn('2000');
      } else {  
        $('nav').removeClass('sticky');   
      }  
    };  
      
    stickyNav();  
      
    $(window).scroll(function() {  
      stickyNav();  
    });  
  });  
</script>
